* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
h2 {
  width: 80%;
  font-size: 2rem;
  text-align: center;
  box-shadow: 2px 2px 4px rebeccapurple;
  margin: 2rem;
  padding: 1.5rem 2rem;
  color: rebeccapurple;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2rem;
}
input,
select {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
input,
select,
.result {
  width: 70%;
  padding: 1rem;
}
button {
  width: 40%;
  padding: 0.8rem;
  font-size: 1.2rem;
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 0.5rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.result {
  margin-top: 2rem;
  height: 20vh;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 600px) {
  h2 {
    width: 60%;
    padding: 2rem;
    box-shadow: 2px 2px 4px;
  }
  input,
  select,
  .result {
    width: 40%;
    padding: 2rem;
  }
  button {
    width: 20%;
    padding: 1.5rem;
  }
}
